@{
    ViewBag.Title = "polices";
    Layout = "~/Views/Laptop/master.cshtml";
}

<h2>Polices</h2>

    <p style=" background-color: black; color: white">
        <pre style="text-align:justify;background-color:black;color:white;width:80%">
            <b>Warranty Terms and Conditions:</b>


            1-Warranty covered means repair or replace part(s) or refurbished whichever is possible.
            2-Warranty claim may be rejected where the warranty sticker/serial number tempered or remove.
            3-If warranty Card is mentioned on invoice the customer should ensure that he receive the same and this warranty will 
              be directly entertain by Distributor’s service center as mention in warranty card.
            4-Warranty will be refuse due to accidental damage or electrical surges.
            5-The manufacturer/supplier/distributor reserves the right to reject any claim whereby the product is broken or shows
              signs of burning.
            6-Warranty is given by the reseller / vendor on behalf of the manufacturer/supplier/distributor. Hence reseller/vendor 
              is not a direct party in this regard. If the product was sold in good working condition then the reseller/vendor is 
              not responsible for any defect which may appear later.
            7-It is strongly recommended that customer should check the product before leaving our counter as warranty begins once 
              the receipt has been generated. Incase of any problem then product will entertain in normal warranty claim process.
            8-Warranty does not cover any software / Virus Problem / Used Hardware Burned /Broken and Damage parts.
            9-Repair order must be shown at the time of Warranty collection.
           10-The product may be replaced or repaired at the time of discretion of manufacturer/supplier/distributor once the warranty
              claim is accepted.Warranty coverage period will be 2 to 6 weeks after receiving the product.
           11-All additional accessories with hardware will not entertain in warranty.
           12-The warranty claim may be accepted on “Conditional Warranty” basis if the warranty support centre is not satisfied that
              the defect is due to a manufacturing fault. Acceptance of Warranty claim in this case will depend solely on the discretion 
              of the manufacturer/supplier/distributor. Please not that this may take more time than normal.
           13-Warranty will not be entertained in case of appearance of dot in LCDs.
           14-Incase of Repair or maintenance of the laptops carry checking warranty.
           15-The manufacturer reserves the right to change the warranty terms and conditions. Changes are updated on the manufacturer
              website. Warranty terms and conditions by OEM will also be applied.
           16-Used hardware carry checking warranty of 2 days.
           17-Warranty product will not be accepted without original invoice.
        </pre>
</p>
