@{
    ViewBag.Title = "products";
}

<h2 style="text-align:center"> Product Categories </h2>
<br />
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table,th {
            border: 1px solid black;
            padding: 5px;
            margin-left:200px;
        }

        table {
            border-spacing: 15px;
        }
    </style>
</head>
<body>

    <table style="width:30% ;margin-left:600px">
        <tr>
            <td style="color:white;background-color:black;text-align:center"><h5>Laptops</h5></td>
        </tr>
        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i3</a></td>    
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i5</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i7</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Mini Laptops</a></td>
        </tr>

        </table>
    <br />
    <br/>
    <br />

    <table style="width:30% ;margin-left:600px">
        <tr>
            <td style="color: white; background-color: black; text-align: center"><h5> Used Laptops</h5></td>
        </tr>
        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i3</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i5</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i7</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Mini Laptops</a></td>
        </tr>
        
    </table>
    <br />
    <br />
    <br />

    <table style="width:30% ;margin-left:600px">
        <tr>
            <td style="color: white; background-color: black; text-align: center"><h5>Personel Computers</h5></td>
        </tr>
        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i3</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i5</a></td>
        </tr>

        <tr>
            <td><a href="Home" style="color: GoldenRod">Core i7</a></td>
        </tr>

    </table>

    <br />
    <br />
    <br />
    </body>
</html>

